.navcard {
    all: unset;
    
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(190, 64, 18);

    width: 90%;
    height: 4rem;
    border-radius: .2rem;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}