.portfolio {
    background-color: rgb(24, 24, 24);

    display: grid;
    grid-template-columns: repeat(3, minmax(35rem, 3fr));
    gap: 6rem;

    align-items: center;

    width: 80vw;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1380px) {
    .portfolio {
        grid-template-columns: minmax(min-content, 1fr) repeat(2, minmax(35rem, 3fr)) minmax(min-content, 1fr);
        gap: 4rem
    }

    .down {
        grid-column: 4/5;
    }
}

@media screen and (max-width: 980px) {
    .portfolio {
        grid-template-columns: minmax(min-content, 1fr) repeat(1, minmax(35rem, 3fr)) minmax(min-content, 1fr);
        gap: .6rem
    }

    .down {
        grid-column: 3/4;
    }
}
