.articleContent {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 1.7rem;
    color: rgb(255, 255, 255);

    gap: 3.4rem;
    padding: 3.4rem 0 3.4rem 0

}

.haiku {
    text-align: justify;
}