.container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    gap: 2.2rem;

    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.pageNumber {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    cursor: default;
}

.active {
    color: rgb(190, 64, 18);
}

