.navbar {
    background-color: rgb(32, 32, 32);
    grid-column: navbar-start / navbar-end;
    
    padding-top: 1.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
}
