.Article {
    display: grid;
    grid-template-columns: 100%;

    margin: 2rem 5% 2rem 5%;

    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}

.articleImage {
    max-height: 40rem;
    max-width: 75%;
}

.articleText {
    width: auto;
    overflow-wrap: break-word;
}

.articleLink {
    all: unset;
    cursor: pointer;
}

.articleGist {
    max-width: 75%;
}

.articleGistHeading {
    font-size: 2rem;
    margin-bottom: 1.7rem;
}