.container {
  background-color: rgb(70, 68, 68);
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 
    [navbar-start full-start] 30rem
    [navbar-end] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
    [center-end] minmax(6rem, 1fr) 
    [full-end];
}